
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --color-forest-green: #2d5a1b;
}

html, body, #root {
  width: 100%;
  max-width: 100vw;

  height: 100%;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  background: #000;
}
canvas {
  touch-action: pan-y !important;
}
